.contact-frame {
    padding: 200px 0;
    background-image: url("./images/cloudsbg_1.png");
    background-size: cover;
    background-position-y: center;
    overflow: hidden;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.contact-container iframe{
    border-radius: 10px;
}

.contact-list {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    color: #D77;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    text-shadow: #000 1px 1px 2px
}

.contact-item:hover {
    color: #822;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: none;
    font-weight: 600;
}

.contact-icon {
    height: 50px;
    margin-right: 30px;
}

.map-large {
    display: block;
}

.map-small {
    display: none;
}

@media only screen and (max-width: 740px) {

    .contact-frame {
        padding: 100px 0;
    }

    .contact-container {
        flex-direction: column-reverse;
    }

    .contact-item a {
        font-size: 14px;
    }

    .contact-icon {
        height: 30px;
        margin-right: 10px;
    }

    .map-large {
        display: none;
    }

    .map-small {
        display: block;
    }
}