* {
    margin: 0;
    padding: 0;
}

.menu-item a {
    color: #999;
    text-decoration: none;
    transition: color 0.5s linear;
}

.menu-item a:hover {
    color: #000;
}

body {
    background-color: #FFF;
    font-family: 'Roboto Slab', serif;
    min-width: 350px;
}

.navbar {
    min-width: 160px;
    height: 40px;
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin: 20px;
    left: 50px;
    border-radius: 15px;
    background-color: #FFF;
    overflow: hidden;
    top: 0;
    border: 5px solid #FFF;
    box-shadow: 2px 2px 5px #666;
    z-index: 10;
}

.page-title {
    min-width: 100px;
    background-color: #EEE;
    text-align: center;
}

.page-title-text a{
    font-size: 2em;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
}

.menu-item {
    padding: 5px;
}

.menu-divider {
    display: block;
    height: 25px;
    width: 3px;
    background-color: #EEE;
}

.menu-button {
    min-width: 100px;
    display: none;
    cursor: pointer;
    align-items: center;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #AAA;
}

.section-divider {
    padding: 50px 0;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    position: relative;
}

.slider {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: #FFF;
    transition: width 1s linear;
}

.slider.active {
    width: 0;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    color: #FFF;
    font-family: monospace;
    font-size: 12px;
    opacity: 0.5;
    z-index: 10;
}

@media only screen and (max-width: 740px) {

    .menu-button {
        display:inline-block;
    }

    .menu-button.active .bar:nth-child(1){
        width: 20px;
        transform: translateY(8px) translateX(6px) rotate(45deg);
    }

    .menu-button.active .bar:nth-child(2){
        opacity: 0;
    }

    .menu-button.active .bar:nth-child(3){
        width: 20px;
        transform: translateY(-8px) translateX(-6px) rotate(-45deg);
    }

    .menu {
        position: fixed;
        top: 80px;
        left: 160px;
        flex-direction: column;
        min-width: 100px;
        background-color: #FFF;
        gap: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        border-radius: inherit;
        padding: 5px;
        box-shadow: 2px 2px 5px #666;
    }

    .menu.active {
        visibility: visible;
        opacity: 1;
    }

    .menu-divider{
        height: 3px;
        width: 50px;
    }

    .menu-item {
    }
}