* {
    margin: 0;
    padding: 0;
}

a {
    color: #800;
}

body {
    background-color: #FFF;
    font-family: 'Roboto Slab', serif;
    min-width: 350px;
}

.navbar {
    min-width: 160px;
    height: 40px;
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin: 20px;
    left: 50px;
    border-radius: 15px;
    background-color: #FFF;
    overflow: hidden;
    top: 0;
    border: 5px solid #FFF;
    box-shadow: 2px 2px 5px #666;
    z-index: 10;
}

.page-title {
    min-width: 100px;
    background-color: #EEE;
    text-align: center;
}

.page-title-text {
    font-size: 2em;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
}

.menu-item {
    padding: 5px;
}

.menu-divider {
    display: block;
    height: 25px;
    width: 3px;
    background-color: #EEE;
}

.menu-button {
    min-width: 100px;
    display: none;
    cursor: pointer;
    align-items: center;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #AAA;
}

.profile-banner {
    padding: 300px 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("./images/plantbg_1.png");
    background-size: cover;
}

.profile-portrait {
    padding: 10px;
    display: block;
    margin: 15px;
    height: 280px;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #FFF;
    border-radius: 15px;
}

.profile-portrait img {
    border-radius: 5px;
    width: 200px;
    object-fit: cover;
}

.profile-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-shadow: #FFF 1px 1px 2px, #FFF 1px 1px 2px;
}

.name-text {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    align-self: center;
    letter-spacing: .5rem;
    word-spacing: 1rem;
}

.title-text {
    font-size: 2.5rem;
    font-weight: 900;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
}

.introduction {
    padding: 0 5%;
    text-align: center;
    text-justify: inter-character;
    font-weight: 600;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    color: #FFF;
    font-family: monospace;
    font-size: 12px;
    opacity: 0.5;
    z-index: 10;
}
