@media only screen and (max-width: 740px) {

	.profile-banner {
		flex-direction: column;
		gap: 30px;
	}

	.profile-portrait {
		flex-basis: 280px;
	}

	.introduction {
		margin: 0;
	}

	.menu-button {
		display:inline-block;
	}

	.menu-button.active .bar:nth-child(1){
		width: 20px;
		transform: translateY(8px) translateX(6px) rotate(45deg);
	}

	.menu-button.active .bar:nth-child(2){
		opacity: 0;
	}

	.menu-button.active .bar:nth-child(3){
		width: 20px;
		transform: translateY(-8px) translateX(-6px) rotate(-45deg);
	}

	.menu {
		position: fixed;
		top: 80px;
		left: 110px;
		flex-direction: column;
		min-width: 100px;
		background-color: #FFF;
		gap: 0;
		visibility: hidden;
		opacity: 0;
		transition: 0.5s;
		border-radius: inherit;
		padding: 5px;
		box-shadow: 2px 2px 5px #666;
	}

	.menu.active {
		visibility: visible;
		opacity: 1;
	}

	.menu-divider{
		height: 3px;
		width: 50px;
	}

	.menu-item {
	}
}