.profile-banner {
    padding: 300px 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("./images/plantbg_1.png");
    background-size: cover;
    gap: 10px;
    justify-content: space-evenly;
}

.profile-portrait {
    padding: 10px;
    display: block;
    height: 280px;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #666;
}

.profile-portrait img {
    border-radius: 5px;
    width: 200px;
    object-fit: cover;
}

.profile-divider {
    background-color: #666;
    width: 5px;
    height: 250px;
}

.profile-info {
    min-width: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: right;
}

.name-text {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .5rem;
    word-spacing: 1rem;
}

.title-text {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.introduction {
    text-justify: inter-character;
    font-weight: 600;
}

@media only screen and (max-width: 1500px) {
    .profile-banner {
        padding: 200px 10%;
    }
}

@media only screen and (max-width: 740px) {
    
    .profile-banner {
        padding: 100px 10%;
        flex-direction: column;
        gap: 20px;
    }

    .profile-portrait {
        flex-basis: 280px;
    }

    .profile-divider {
        height: 5px;
        width: 60%;
    }

    .profile-info {
        text-align: center;
    }

    .introduction {
        margin: 0;
    }
}