.project-frame {
    padding: 200px 0;
    align-items: center;
    background-image: url("./images/mountainbg_1.png");
    background-size: cover;
}

.project-tile {
	display: none;
	flex-direction: row;
	margin: 0 auto;
	width: 80%;
	height: 600px;
	gap: 20px;
	justify-content: space-between;
}

.project-tile img {
	display: block;
	border-radius: 25px;
}

.tile-info {
	flex-direction: column;
	gap: 30px;
}

.tile-title {
  text-align: center;
  margin: 20px;
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.tile-data li{
	list-style: none;
	margin-top: 15px;
}

.button-container {
	display: flex;
	justify-content: space-between;
}

.previous, .next {
  cursor: pointer;
  padding: 16px;
  margin-top: -350px;
  height: 30px;
  color: #FFF;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}

.next {
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}
