.project-frame {
    padding: 100px 0;
    align-items: center;
    background-image: url("./images/mountainbg_1.png");
    background-size: cover;
    overflow: hidden;
}

.project-tile {
	display: none;
	flex-direction: row;
	margin: 0 auto;
	width: 80%;
	height: 700px;
	gap: 50px;
	opacity: 1;
	justify-content: space-between;
}

.project-number {
	text-align: center;
	color: #FFF;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 20px;
	text-decoration: underline;
}

.image-frame {
	display: block;
	width: 800px;
	height: 100%;
	flex-shrink: 0;
	background-repeat: no-repeat;
	background-position-y: center;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.image-frame:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
}

.tile-info {
	flex-direction: column;
	margin: auto 0;
    text-shadow: #FFF 1px 1px 2px, #FFF 1px 1px 2px;
    min-width: 200px;
}

.tile-title {
	text-align: center;
	font-weight: 700;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
}

.tile-data li{
	list-style: none;
	margin-top: 15px;
	font-weight: 600;
}

.button-container {
	display: flex;
	justify-content: space-between;
}

.previous, .next {
	cursor: pointer;
	padding: 16px;
	margin-top: -350px;
	height: 30px;
	color: #FFF;
	transition: 0.5s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(0,0,0,0.3);
	z-index: 9;
}

.next {
	border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    from {opacity: 0.1}
    to {opacity: 1}
}

@media only screen and (max-width: 740px) {
	.project-tile {
		height: 400px;
		flex-direction: column-reverse;
	}

	.image-frame {
		height: 250px;
		width: 300px;
		background-size: cover;
		background-position: center;
	}

	.project-tile {
		justify-content: start;
		align-items: center;
	}
}

.section-divider {
    padding: 50px 0;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    position: relative;
}

.slider {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 2;
	background-color: #FFF;
	transition: width 1s linear;
}

.slider.active {
	width: 0;
}
