// customm variables
$darkRed: #800;
$lightRed: #d05;
$lightGreen: #0c1;
$bannerPad: min(30vh, 30vw);
$black-transparent: rgba(0,0,0,0.3);
// Custom default styles
a {
    color: $darkRed;
}

body {
    font-family: 'Roboto Slab', serif;
    text-shadow: #FFF 1px 1px 2px, #FFF 1px 1px 2px;
    font-size: 1.2rem;
    font-weight: 600;
}

// Custom CSS classes
.banner {
    padding-top: $bannerPad;
}

.banner:last-of-type {
    padding-bottom: $bannerPad;
}

.bold-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.contact-icon {
    max-height: 50px;
    margin-right: 15px;
}

.custom-background {
    background-image: url("/plantbg_1.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

.darkred-text {
    color: $darkRed;
}

.lightgreen-text {
    color: $lightGreen;
}

.lightred-text {
    color: $lightRed;
}

.project-list {
    list-style: none;

    li {
        @extend .my-2;
        font-size: 1rem;
    }
}

.red-text {
    color: $red;
}

.spaced-header {
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .5rem;
    word-spacing: 1rem;
}

.vertical-separator {
    min-width: 15px;
    min-height: 15px;
    background-color: #666;
    border-radius: 15px;
    margin: 25px;
}

// Augmenting boostrap classes
.carousel-caption {
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
    text-shadow: none;
}

.navbar {
    z-index: $zindex-fixed;
}

// Bootstrap-style breakpoint
@include media-breakpoint-down(xl) {
    .img-fluid {
        max-height: 300px;
    }
}

// Complex bootstrap class collections

// ***** NavBar classes
.custom-reactive-navbar {
    @extend .navbar;
    @extend .navbar-expand-md;
    @extend .bg-body-tertiary;
    @extend .w-250p;
    @extend .w-md-fc;
    @extend .top-10;
    @extend .top-md-50;
    @extend .ms-4;
    @extend .rounded-5;
    @extend .position-fixed;
    @extend .shadow;
}

.custom-reactive-navbar-brand {
    @extend .navbar-brand;
    @extend .bg-dark-subtle;
    @extend .rounded-pill;
    @extend .p-2;
    @extend .fw-bold;
}

.custom-reactive-navbar-list {
    @extend .navbar-nav;
    @extend .nav-underline;
    @extend .me-auto;
    @extend .my-2;
    @extend .my-md-0;
}

// ***** Introduction classes
.custom-reactive-header-container {
    @extend .d-flex;
    @extend .mx-2;
    @extend .mx-lg-auto;
    @extend .px-4;
    @extend .gap-2;
    @extend .flex-column-reverse;
    @extend .flex-lg-row;
    @extend .justify-content-lg-evenly;
    @extend .mw-1300p;
}

.custom-reactive-intro-container {
    @extend .d-flex;
    @extend .flex-column;
    @extend .gap-3;
    @extend .mx-auto;
    @extend .mx-lg-0;
    @extend .my-auto;
    @extend .text-lg-end;
}

.custom-reactive-contact-container {
    @extend .d-flex;
    @extend .flex-column-reverse;
    @extend .flex-lg-row;
    @extend .justify-content-center;
    @extend .gap-5;
    @extend .py-5;
    background: $black-transparent;
    a {
        @extend .p-3;
        @extend .rounded-5;
        @extend .text-light;
        font-weight: 300;
        text-shadow: none;
        text-decoration: none;
        background: none;
        transition: background-color 0.5s ease-in-out;
    }
    a:hover {
        background: $black-transparent;
    }
    div.map-frame {
        @extend.mx-auto;
        @extend.mx-lg-5;
        @extend.d-block;
        width: 400px;
        height: 300px;
    }
}

@include media-breakpoint-down(lg) {
    .custom-reactive-contact-container div.map-frame {
        width: 95%;
        height: 100%;
    }
}